rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read and write access to lights for now.
    // TODO: Secure this for production.
    match /lights/{lightId} {
      allow read, write: if true;
    }
  }
}
